{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style type="text/css">
        .card-signin {
            width: 100%;
            max-width: 400px;
            padding: 15px;
            margin: auto;
        }

        .form-signin input[type="email"] {
            margin-bottom: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: -1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card card-signin">
                <div class="card-body">
                    {#                    form pt introducerea datelor de reset pass#}
                    <form class="form-signin" method="post">
                        {% csrf_token %}

                        <img class="img-fluid mx-auto d-block" src="{% static 'livechat/chat_logo_250x250.png' %}"
                             alt="Paco elChato logo" width="250" height="250">

                        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email"
                               required autofocus>

                        {#                        buton pt efectuarea resetului parolei#}
                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
                            Reset password
                        </button>

                        {#                        redirect la login daca userul s-a razgandit#}
                        <div class="d-flex flex-column my-4">
                            <a class="m-auto" href="{% url 'login' %}">
                                Back to login screen
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
