{% extends 'base.html' %}

{#pagina de redirect dupa resetarea parolei#}
{% block content %}
    <div class="container">
        <div class="d-flex flex-column">
            <p class="m-auto p-2">
                You should receive an email with further instructions shortly.
            </p>
            <p class="m-auto p-2">
                Should you not find the email, make sure you've entered the correct email address or check the spam
                folder.
            </p>
            <p class="m-auto p-2">
                <a href="{% url 'home' %}">
                    Return to home page.
                </a>
            </p>
        </div>
    </div>
{% endblock content %}

