{% extends 'base.html' %}
{% load static %}

{% block content %}
    {#    pagina de redirect dupa schimbarea parolei#}
    <div class="container">
        <div class="d-flex flex-column">
            <h2 class="mt-4 mx-auto">
                <span style="color: red">Your </span>
                <span style="color: orange">password </span>
                <span style="color: yellowgreen">has </span>
                <span style="color: deepskyblue">been </span>
                <span style="color: dodgerblue">updated </span>
            </h2>

            <img class="img-fluid mx-auto d-block mt-4" src="{% static 'livechat/paco_perro.png' %}"
                 alt="Paco elChato logo" width="780" height="611">
        </div>
    </div>

{% endblock content %}